//Login

//COLORS
//Claires
$colorclaire1: #C5F1DF;
$colorclaire2: #FCEE9C;
$colorclaire3: #FEECFC;
//Foncées
$colorfonce1: #ACD5C5;
$colorfonce2: #EBD033;
$colorfonce3: #FCC1D7;

//all 

.color1 {
    background-color: $colorclaire1;
}

.color2 {
    background-color: $colorclaire2;
}

.color3 {
    background-color: $colorclaire3;
}

.color1dark {
    background-color: $colorfonce1;
}

.color2dark {
    background-color: $colorfonce2;
}

.color3dark {
    background-color: $colorfonce3;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html {
    overflow-x: hidden;
}

h2 {
    margin-top: 50px;
    height: 100px;
    text-shadow: 14px 11px 0 $colorclaire1, -14px -10px 0 $colorclaire3; 

    .titre_couleur1 {
        text-shadow: 14px 10px 0 $colorclaire1, -14px -10px 0 $colorclaire3;  
        color: white;
    }
}

////////form

.center {
    text-align: center;
}

.logo_form{
    width: 50%;
    margin: 15px auto;
}

.form_box {
    background-color: white;
    border: 3px solid $colorfonce3;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 30px;
    padding: 30px 0;


    h2 { margin-top: 50px;
    height: 100px;
    text-shadow: 14px 10px 0 $colorclaire1, -14px -10px 0 $colorclaire3;  

    .titre_couleur1 {
        text-shadow: 14px 10px 0 $colorclaire1, -14px -10px 0 $colorclaire3;  
    }
}

    label {
        margin: 10%;
    }

    input[type=text], input[type=email], input[type=password],
    select,
    textarea {
        background-color: #FFF;
        color: black;
        border: 2px solid #ACD5C5;
        border-radius: 50px;
        width: 90%;
        padding: 10px;
        height: 35px;
        font-size: 1em;
        display: block;
        margin: 10px auto;
    }

    textarea {
        height: auto;
        border-radius: 30px;
        max-width: 90%;
    }

    a {
        text-decoration: none;
        color: $colorfonce3; 
    }

    p {
        margin: 5px 10%;

        &:nth-child(odd) {
            // color: $color3dark;
            font-weight: bold;
        }

        &:nth-child(even) {
            margin-bottom: 25px;
            color: $colorfonce3;

        }
    }

}

.icon_delete {
    height: 30px;
    width: 30px;
    margin: 10px;
}

/////////footer

//header
.navbar {
    height: 18vh;
    align-content: center;

 

}

.logo {

    img {
        height: 80px;
    }
}

.menu {
    color: black;
    font-size: 1em;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.menu:hover {
    color: pink;
}

.icon {
    height: 50px;
    width: 50px;
    margin: auto 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.dropdown_button {
    background-position: center;
    background-size: cover;
    padding: 0;
    border: none;
    height: 40px;
    width: 40px;
    background-image: url("/rainbow/public/photos/icone_compte.png");

}

.dropdown_button2 {
    background-image: url("/rainbow/public/photos/burger.png");
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    right:0;
}

.dropdown_content a,
.dropdown_content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown2:hover .dropdown_content2 {
    display: block;
}
///////////////////////
//accueil 

.cropImgbandeau {

    height: 82vh;
    overflow: hidden;

    img {
        position: absolute;
        // min-width: 75%;
        height: 82%;

    }
}

.objet1 {
    position: absolute;
    padding-left: 300px;
    background-color: rgb(233, 197, 227);
    border: 1px solid #e9c5e3;
    width: 65%;
    height: 82%;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    right: 0;

}

.styled1 {
    display: block;
    width: 150px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    color: $colorfonce2;
    border: solid 0.1rem $colorclaire2;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 8px 8px 0 $colorfonce2;
    background-color: white;
    z-index: 500;
    margin: 10px;

}


.styled1:hover {
    box-shadow: none;
    margin-left: 20px;
    margin-top: 20px;

}

.styled1:active {
    color: white;  
    background-color: $colorclaire2;

}

.styled3 {
    display: block;
    width: 150px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    color: $colorfonce3;
    border: solid 0.1rem $colorclaire3;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 8px 8px 0 $colorfonce3;
    background-color: white;
    z-index: 500;
    margin: 10px;

}


.styled3:hover {
    box-shadow: none;
    margin-left: 20px;
    margin-top: 20px;

}

.styled3:active {
    color: white;  
    background-color: $colorclaire3;

}


.caroussel_image {

    img {
        height: 19vw;

        &:hover {
            transform: rotate(2deg);
        }

    }
}

.caroussel_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    height: 40vh;
}

//faq
.collapsible {
    cursor: pointer;
    padding: 1%;
    margin: 1% 0;
    width: 100%;
    background-color: $colorclaire1;
    border: 1px solid $colorfonce1;
    outline: none;
}

.active,
.collapsible:hover {
    background-color: $colorfonce1;
        color: white;
        border: 2px solid $colorclaire1;
}

.content_collapsible {
    padding: 1%;
    background-color: white;
    display: none;
}

.faq {
    margin-bottom: 100px;
}

.fontfaq {
    background-color: $colorfonce1;

}
.position{

    margin-top: 400px;
}
////////////////////

//profil

.box {
    margin-bottom: 100px;
    max-height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ligne {
    display: flex;
    align-items: center;

    form {
        margin: auto;
    }

    div {
        padding: 5px;
        min-height: 50px;
        overflow-wrap: break-word;
        text-align: left;

        &:first-child {
            width: 20%;
        }

        &:nth-child(2) {
            min-width: 25%;

        }
        &:nth-child(3) {
            width: 10%;

        }

        &:nth-child(4) {
            width: 15%;

        }

        &:nth-child(5) {
            flex-grow: 1;

        }

        &:nth-child(6) {
            width: 8%;
        }

    }

    &:nth-child(odd) {
        background-color: $colorclaire3;

    }
    &:nth-child(even) {

        background-color: $colorclaire1;
    }

    .select-css {

        display: block;
        font-size: 0.8em;
        color: black;
        line-height: 1.3;
        padding: 0.6em 1.4em 0.5em 0.8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 0.5em;
        appearance: none;
        background-color: transparent;
        background-image: url("/rainbow/public/photos/arrow.png");
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 55%, 0 0;
        background-size: 0.5em auto, 100%;
    }

    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        color: #222;
        outline: none;
    }
    .select-css option {
        font-weight: normal;
    }
    /////test
}

 //Produit
 .imgombre1 {
    position: absolute;
    // min-width: 75%;
    width: 100%;
    box-shadow:  40px -40px 0 $colorclaire2;
}


.imgombre1:hover {
    position: absolute;
    // min-width: 75%;
    width: 100%;
    box-shadow:  -40px 40px 0 $colorclaire2;
}

.imgombre2 {
    position: absolute;
    // min-width: 75%;
    width: 100%;
    box-shadow:  40px -40px 0 $colorfonce1;
    left: 0;
}

.imgombre2:hover {
    position: absolute;
    // min-width: 75%;
    width: 100%;
    box-shadow:  -40px 40px 0 $colorclaire1;
}

.imgombre3 {
    position: absolute;
    // min-width: 75%;
    width: 100%;
    box-shadow:  40px -40px 0 $colorfonce3;
}

.imgombre3:hover {
    position: absolute;
    // min-width: 75%;
    width: 100%;
    box-shadow:  -40px 40px 0 $colorclaire3;
}

.position{

    margin-top: 400px;
}


.styled2 {
    display: block;
    width: 150px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    color: $colorfonce1;
    border: solid 0.1rem $colorclaire1;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 8px 8px 0 $colorfonce1;
    background-color: white;
    z-index: 500;
    margin: 10px;

}

.styled2:hover {
    box-shadow: none;
    margin-left: 20px;
    margin-top: 20px;

}

.styled2:active {
    color: white;
    background-color: $colorclaire1;

}


//commentaire
.fontcom {
        background-color: $colorfonce3;
        height: 60vh;
        margin-top: 500px;
    }

    .cropImgbandeau_produit {

        height: 82vh;
        overflow: hidden;
        margin-top: 420px;
        img {
            position: absolute;
            // min-width: 75%;
            height: 82%;
            right: 0;

        }
    }

    .objet2 {
        position: absolute;
        padding-right: 300px;
        background-color: $colorclaire2;
        border: 1px solid $colorclaire2;
        width: 70%;
        height: 82%;
        clip-path: polygon(0% 0, 65% 0, 100% 100%, 0% 100%);
        left: 0;
        z-index: 500;

    }

    .fontstore{
        height: 80vh;
    }

//fiche
.photoproduit {
    width: 100%;
    margin-bottom: 20px;
}

.imgfiche {
    display: flex;

    width: auto;
    justify-content: space-between;
}

    .fontfiche {
    height: 100vh;
    background-color: $colorclaire2;

    }

    .imgminiature {
        width: 147px;
        margin-bottom: 40px;
    }

//panier

.photopanier {
    width: 40%;
}

.fontpanier {
    background-color: $colorfonce3;
    height: 40vh;
}

.fontcommande {

    background-color: $colorfonce1;
    height: 100vh;
}
.textepanier {
    margin-top: 90px;
    size: 2.5em;
    color: white;
    text-align: center;
}

.styledpanier {

    width: 150px;
    padding: 12px 20px;
    font-size: 1rem;
    text-align: center;
    color: $colorfonce1;
    border: solid 0.1rem $colorclaire1;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 8px 8px 0 $colorfonce1;
    background-color: white;
    z-index: 500;
    margin: 10px;

}


.styledpanier:hover {
    box-shadow: none;
    margin-left: 20px;
    margin-top: 20px;

}

.styledpanier:active {
    color: white;  
    background-color: $colorclaire1;

}

.forme1 {
height: 60px;
width: 60px;
background-color: white;

}

.footer {

    p {
        font-size: 0.9em;
    }

    a {
        color: black;
        text-decoration: none;
    }

    div {
        &:last-child {
            text-align: end;
            align-self: center;

        }
    }
}
